{{#paper-card}}
  <div class="post-image" style={{verifyUrl post.image_url}}></div>
  {{#paper-card-content}}
    <h2>{{post.title}}</h2>
    <h3><small>{{post.author}} &bull; {{moment-from-now post.timestamp}}</small></h3>
    <p>
      {{post.preview_content}}
    </p>
  {{/paper-card-content}}
  <div class="md-actions" layout="row" layout-align="end center">
    {{#link-to 'post' post.id}}Read More{{/link-to}}
    {{#paper-button icon-button=true action='goToEdit' param=post}}{{paper-icon "edit" size=2}}{{/paper-button}}
    {{#paper-button icon-button=true action='deletePost' param=post}}{{paper-icon "delete" size=2}}{{/paper-button}}
  </div>
{{/paper-card}}
