{{#paper-card}}
  <div class="post-image" style={{verifyUrl model.post.image_url}}></div>
  {{#paper-card-content}}

    <div class="post-entirety">
      <div class="post-page-header">
        <br>
        <div class="post-details">
          <h2>{{model.post.title}}</h2>
          <h3 class="post-tile-author"><small>{{model.post.author}} &bull; {{moment-from-now model.post.timestamp}}</small></h3>
          <h4 class="post-tile-comment-total"><small>{{model.post.comments.length}} comments</small></h4>
        </div>
      </div>

      <article>
        {{markdown-to-html markdown=model.post.content}}
      </article>

      {{comment-new post=model.post saveComment="saveComment"}}
    </div>
  {{/paper-card-content}}
{{/paper-card}}

{{#each model.comments as |comment|}}
  {{comment-tile comment=comment destroyComment="destroyComment" editComment="editComment"}}
{{/each}}
